.category-wall-panel {}
.category-wall-panel-heading {min-height: 55px;}
.category-wall-panel-title {}
category-wall-panel-title-link {}
.category-wall-panel-body {}
.category-wall-panel-body-link {}
.category-wall-panel-body-image {}
.category-wall-panel-body-description {}
.category-wall-link {}
.category-wall-image {}
.category-wall-panel-footer {padding: 0;}
.category-wall-list-group {margin: 0;}
category-wall-list-group-item {}
